<article class="module appstore">
	<h2>Download the Meegloo app</h2>
	<ul>
		<li>
			<a href="http://itunes.apple.com/app/meegloo/id477040469" target="_blank"><img src="{{ MEDIA_URL|default:'/media/' }}img/appstore-ios.png" alt="Available on the iOS App Store" /></a>
			<a href="https://market.android.com/details?id=com.flamingtarball.mobile.meegloo" target="_blank"><img src="{{ MEDIA_URL|default:'/media/' }}img/appstore-android.png" alt="Available on the Android Market" /></a>
		</li>
	</ul>
</article>