{% extends 'base.html' %}
{% load i18n humanize %}

{% block content %}
	<h1>Sorry</h1>
	
	<article class="page">
		<p>
			It has not been possible to confirm your email address. Are you sure you haven&rsquo;t
			already clicked the activation link?
		</p>
		
		<p>
			If you haven&rsquo;t, or you feel you&rsquo;ve reached this page in error,
			please <a href="http://getsatisfaction.com/flamingtarball/products/flamingtarball_meegloo" target="_blank">visit our support site</a>.
		</p>
	</article>
{% endblock content %}