{% extends 'base.html' %}
{% load i18n humanize %}

{% block content %}
	<h1>Forgotten password</h1>
	
	<article class="page">
		<p>
			An email has been sent to the specified account, with a confirmation link. Once that link
			is clicked, you can set a new password for that account.
		</p>
		
		<p>
			If you don&rsquo;t get the email within an hour, <strong>check your spam folder</strong>. Then
			if you still have no luck, please <a href="http://getsatisfaction.com/flamingtarball/products/flamingtarball_meegloo" target="_blank">visit our support site</a>.
		</p>
	</article>
{% endblock content %}