{% extends 'base.html' %}

{% block content %}
	<h1>About Meegloo</h1>
	<article class="page">
		<p>
			Wherever you go, whatever you do, you&rsquo;re making news. Whether you&rsquo;re at the
			football, watching a gig or sitting through a conference, you&rsquo;re building up a story
			which your friends and followers might like to be part of.
		</p>
		
		<p>
			Want to shout about that latest amazing goal, or share some footage of an inspiring speaker?
			Maybe you caught up with a band member after the show and want to find out what a particular
			song was about. With Meegloo, you can share words, pictures and sound on a specific topic
			which you set.
		</p>
		
		<h3>Why would I use Meegloo?</h3>
		
		<p>
			Twitter is great for conversation, but not everyone&rsquo;s into the same stuff, so
			wouldn&rsquo;t it be great to follow a particular story and ignore the ones you&rsquo;re
			not into? That&rsquo;s what Meegloo&rsquo;s for.
		</p>
	</article>
{% endblock content %}