{% extends 'base.html' %}

{% block content %}
	<h1>Privacy policy</h1>
	<article class="page">
		<h2>In brief</h2>
		<ul>
			<li>We won&rsquo;t sell your details, or use information you upload to Meegloo to advertisers.</li>
			<li>Domain-wide cookies are used to preserve your session across different subdomains of meegloo.com.</li>
			<li>We track visits and clicks anonymously.</li>
		</ul>
		
		<h2>More detail</h2>
		<p>
			The privacy policy is being drafted as we speak, but if you&rsquo;d like to know how any of your
			information is being used, please contact <a href="mailto:hello@meegloo.com">hello@meegloo.com</a>
			and we&rsquo;ll be happy to give you the lowdown.
		</p>
	</article>
{% endblock content %}