{% extends 'base.html' %}

{% block content %}
	<h1>About streams</h1>
	<article class="page about streams">
		<h2>The basics</h2>
		<p>
			A stream is basically a topic of conversation. You can create one through the
			mobile or desktop app, or via the website. You can make your stream private, so it&rsquo;s
			accessible via its address, but not listed anywhere on the homepage, or added to our
			search index.
		</p>
		
		<p>
			A stream can contain text (including links), photos from the web, your hard drive or your
			mobile, aswell as audio and video from the same places.
		</p>
		
		<h2>Join in the conversation</h2>
		<p>
			Other people can find your streams based on keywords or hashtags, and by location.
			They can also join your stream to report on the same story.
		</p>
	</article>
{% endblock content %}