<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			body {
				font-family: Helvetica, sans-serif; font-size: 14px; color: #666;
				margin: 0; padding: 0;
			}
			
			h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 0.5em 0 0.5em 0; font-size: 1em; }
			p { margin: 0.5em 0 0.5em 0; }
			ul, ol { margin-top: 0.5em; margin-bottom: 0.5em; padding: 0; }
		</style>
	</head>
	<body>
		<h1>By signing up to Meegloo, you are agreeing to the following terms and conditions.</h1>
		{% include 'pages/terms.inc.html' %}
	</body>
</html>