{% extends 'base.html' %}
{% load i18n markup %}

{% block content %}
	{% block headline %}
		<h1>Create a new stream</h1>
	{% endblock %}
	
	<article class="page">
		{% if not form.errors %}
			<p>
				Here&rsquo;s where you start telling your story. Give your new
				stream a name, fill in the tags and you&rsquo;re ready to go.
			</p>
		{% endif %}
		
		{% if alt_streams %}
			<div class="stream-list">
				<h2>Someone might be covering the same story</h2>
				<p>
					We&rsquo;ve matched up other events with similar details. If you find one that
					matches the stream you&rsquo;re creating, just click it and you can start adding
					to their story. 
				</p>
				
				{% for stream in alt_streams %}
					<a class="stream" href="{% url join_stream stream.slug %}">
						<h3>{{ stream.name }}</h3>
						
						{% if stream.description %}
							{{ stream.description|markdown }}
						{% endif %}
						
						<p class="stream-meta">
							Updated {{ stream.updated|timesince }} ago{% spaceless %}
							{% if stream.tags.count > 0 %}, tagged
								{{ stream.tags.all|join:', ' }}
							{% endif %}
						{% endspaceless %}</p>
					</a>
				{% endfor %}
				
				<div class="clear"></div>
				
				<p>
					If you can&rsquo;t find a stream that matches yours, you can continue creating it
					with a different URL (so that we don&rsquo;t confuse it with other streams).
				</p>
			
				<p><a class="button" href="#continue">Continue creating my stream</a></p>
			</div>
		{% endif %}
		
		<form action="{{ request.path }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}" method="post">
			{% if form.errors %}
				<p>Whoops! Sorry, it looks like something&rsquo;s not quite right.</p>
				
				{% if form.non_field_errors %}
					<p class="error-header">{{ form.non_field_errors|join:'<br />' }}</p>
				{% endif %}
			{% endif %}
			
			{% for field in form %}
				<div class="form-field">
					<div class="module label">
						<label for="id_{{ field.html_name }}">{{ field.label }}</label><br />
						{% if field.errors %}
							<span class="errors">{{ field.errors }}</span>
						{% else %}
							<span class="help-text">{{ field.help_text }}</span>
						{% endif %}
					</div>
					
					<div class="module field">
						{{ field }}
					</div>
				</div>
			{% endfor %}
			
			{% csrf_token %}
			<div class="module submit">
				<input type="submit" value="{% ifequal request.method 'POST' %}Try again{% else %}Create my stream!{% endifequal %}" />
			</div>
			
			<div class="clear"></div>
		</form>
	</article>
{% endblock content %}

{% block sidebar %}
	<article class="module latest-streams">
		<h2>The latest streams</h2>
		<p>These are the latest streams people have created. Why not join one of these?</p>
		
		{% for stream in latest_streams %}
			<a class="stream" href="{% url stream stream.slug %}">
				<h3>{{ stream.name }}</h3>
				
				<p class="stream-meta">
					Updated {{ stream.updated|timesince }} ago{% spaceless %}
					{% if stream.tags.count > 0 %}, tagged
						{{ stream.tags.all|join:', ' }}
					{% endif %}
				{% endspaceless %}</p>
			</a>
		{% endfor %}
	</article>
	
	{{ block.super }}
{% endblock sidebar %}

{% block javascript %}
	{{ block.super }}
	<script>
		$(document).ready(
			function() {
				$('#id_name').bind('keypress',
					function(e) {
						setTimeout(
							function() {
								$('#id_slug').val(
									URLify($('#id_name').val())
								);
							},
							10
						)
					}
				);
				
				$('#id_name').bind('change',
					function(e) {
						$('#id_slug').val(
							URLify($(this).val())
						);
					}
				);
				
				$('#id_slug').bind('change',
					function(e) {
						$(this).val(
							URLify($(this).val())
						);
					}
				);
				
				$('#id_slug').bind('blur',
					function(e) {
						if($(this).val()) {
							$('#id_twitter_hashtag').val('#' + $(this).val());
							$('#id_flickr_tag').val($(this).val());
						} else {
							$('#id_twitter_hashtag').val('');
							$('#id_flickr_tag').val('');
						}
					}
				);
				
				$(window).hashchange(
					function() {
						if(window.location.hash == '#continue') {
							$('.stream-list').slideUp(
								function() {
									$('form').slideDown();
									$('form #id_slug').focus();
								}
							);
						}
					}
				);
				
				if(window.location.hash == '#continue') {
					$('.stream-list').slideUp(
						function() {
							$('form').slideDown();
							$('form #id_slug').focus();
						}
					);
				}
			}
		);
	</script>
{% endblock javascript %}