$body: #fff;
$post: #F8FBFC;
$post-hover: #E3EEF5;
$sidebar: #f4f4f4;
$text: #333;
$accent: #f60;
$link: $accent;
$header-background: #333;
$header-text: #FFF;
$header-link: $header-text;
$footer-background: #FFC;
$footer-text: $text;
$footer-link: $accent;