{% extends 'base.html' %}

{% block content %}
	<h1>Whoops :(</h1>
	<article class="page">
		<p>
			Sorry, but it looks like something&rsquo;s gone wrong here at Meegloo Towers.
			<br />
			Our monkeys have been told, and bananas will be issued once the problem has
			been fixed.
		</p>
		
		<p>
			We&rsquo;re really sorry about this, by the way.<br />If you want to complain,
			you&rsquo;ll find us on Twitter as @<a href="http://twitter.com/meegloo">meegloo</a>.
		</p>
	</article>
{% endblock content %}