<!DOCTYPE html>{% load i18n analytics %}
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8" />
		<title>{% if title_parts %}{{ title_parts|join:' | '}} | {% endif %}{{ request.network.name|default:'Meegloo' }}{% if request.network.is_external %} - Powered by Meegloo{% endif %}</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" media="screen, projection" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/iframe.css" media="screen, projection" />
		{% block extra_css %}{% endblock %}
		{% block extra_head %}{% endblock %}
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<base target="_blank" />
	</head>
	
	<body class="{% if DEBUG %}debug {% endif %}iframe {% if request.user.is_authenticated %}auth {% else %}anon {% endif %}{{ body_classes|join:' ' }}">
		<section>
			<div class="container">
				<section class="module" id="mainstage">
					{% block content %}{% endblock %}
				</section>
				
				<div class="clear"></div>
			</div>
			
			{% block extra_content %}{% endblock %}
			
			<footer>
				<div class="container">
					<div class="inner">
						Powered by <a href="http://meegloo.com/">Meegloo</a>
					</div>
				</div>
			</footer>
		</section>
		
		{% block extra_body %}{% endblock %}
		
		<script src="{{ MEDIA_URL }}js/jquery.js"></script>
		<script src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
		<script src="{{ MEDIA_URL }}js/swfobject.js"></script>
		<script src="{{ MEDIA_URL }}js/modernizr.js"></script>
		<script src="{{ MEDIA_URL }}js/functions.js"></script>
		<script src="{{ MEDIA_URL }}js/jquery-hashchange.js"></script>
		
		{% block javascript %}{% endblock %}
		{% google_analytics %}
	</body>
</html>